<section class="dlf-cta-section" aria-labelledby="footer-cta-title">
    <div class="dlf-cta-card {{ if page_slug == 'lid-worden' }}dlf-cta-card--dark{{ /if }}">
        <div class="dlf-cta-row">
            <div class="dlf-cta-copy">
                {{ if id == '2f8a6d14-7b39-4e02-9c5a-bouwjouwidee01' }}
                    <span class="dlf-eyebrow">Aan de slag</span>
                    <h3 id="footer-cta-title">{{ title }}</h3>
                    <div class="dlf-cta-description">{{ description }}</div>
                {{ else }}
                    <span class="dlf-eyebrow">Sluit je aan</span>
                    <h3 id="footer-cta-title">Word ook lid van de Dutch Laravel Foundation</h3>
                    <div class="dlf-cta-benefits">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                <path fill-rule="evenodd" d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
                            </svg>
                            Netwerk van Laravel specialisten
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                <path fill-rule="evenodd" d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
                            </svg>
                            Exclusieve Laravel events
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                <path fill-rule="evenodd" d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
                            </svg>
                            Keurmerk voor je organisatie
                        </span>
                    </div>
                {{ /if }}
            </div>

            {{ if id == '2f8a6d14-7b39-4e02-9c5a-bouwjouwidee01' }}
                <div class="dlf-cta-actions">
                    {{ if link_2 }}
                        <a class="dlf-btn" href="{{ link_2 }}">
                            <span class="dlf-btn-face dlf-btn-face--white">{{ button_text_2 }}</span>
                            <span class="dlf-btn-shadow dlf-btn-shadow--white" aria-hidden="true"></span>
                        </a>
                    {{ /if }}
                    {{ if link }}
                        <a class="dlf-btn" href="{{ link }}">
                            <span class="dlf-btn-face dlf-btn-face--outline-white">{{ button_text }}</span>
                            <span class="dlf-btn-shadow dlf-btn-shadow--white" aria-hidden="true"></span>
                        </a>
                    {{ /if }}
                </div>
            {{ else }}
                <a class="dlf-btn dlf-cta-button" href="/lid-worden">
                    <span class="dlf-btn-face {{ if page_slug == 'lid-worden' }}dlf-btn-face--red{{ else }}dlf-btn-face--white{{ /if }}">Word lid</span>
                    <span class="dlf-btn-shadow {{ if page_slug == 'lid-worden' }}dlf-btn-shadow--red{{ else }}dlf-btn-shadow--white{{ /if }}" aria-hidden="true"></span>
                </a>
            {{ /if }}
        </div>
    </div>
</section>
