<nav class="dlf-desktop-navigation" aria-label="Hoofdnavigatie">
    <ul class="dlf-desktop-nav-list">
        {{ nav:main }}
            {{ if depth == 1 }}
                {{ if children }}
                    <li
                        class="dlf-nav-item dlf-nav-item--parent"
                        x-data="navigationDropdown"
                        data-enhanced
                        :class="{ 'dlf-nav-item--open': open }"
                        @mouseenter="openMenu"
                        @mouseleave="closeOnMouseLeave($event)"
                        @focusout="closeWhenFocusLeaves($event)"
                        @keydown.escape.stop.prevent="closeAndRestoreFocus"
                    >
                        <button
                            class="dlf-nav-link {{ if is_parent }}dlf-nav-link--active{{ /if }}"
                            type="button"
                            x-ref="trigger"
                            aria-expanded="false"
                            :aria-expanded="open.toString()"
                            aria-controls="dlf-submenu-{{ id }}"
                            @click="toggleMenu"
                        >{{ title }}</button>
                        <svg class="dlf-nav-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                        <ul id="dlf-submenu-{{ id }}" class="dlf-submenu">
                            {{ *recursive children* }}
                        </ul>
                    </li>
                {{ else }}
                    <li class="dlf-nav-item">
                        <a
                            class="dlf-nav-link {{ if is_current or is_parent }}dlf-nav-link--active{{ /if }}"
                            href="{{ url }}"
                            {{ if is_current }}aria-current="page"{{ /if }}
                        >{{ title }}</a>
                    </li>
                {{ /if }}
            {{ elseif depth == 2 }}
                <li>
                    <a
                        class="dlf-submenu-link {{ if is_current or is_parent }}dlf-submenu-link--active{{ /if }}"
                        href="{{ url }}"
                        {{ if is_current }}aria-current="page"{{ /if }}
                    >{{ title }}</a>
                </li>
            {{ /if }}
        {{ /nav:main }}

        <li>
            <a class="dlf-btn dlf-nav-cta" href="/lid-worden">
                <span class="dlf-btn-face dlf-btn-face--outline-red">Lid worden</span>
                <span class="dlf-btn-shadow" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
</nav>
