<nav class="dlf-mobile-navigation" aria-label="Mobiele hoofdnavigatie">
    <ul class="dlf-mobile-nav-list">
        {{ nav:main }}
            {{ if depth == 1 }}
                <li class="dlf-mobile-nav-item">
                    {{ if children }}
                        <details class="dlf-mobile-nav-group" {{ if is_parent }}open{{ /if }}>
                            <summary class="dlf-mobile-nav-link {{ if is_current or is_parent }}dlf-mobile-nav-link--active{{ /if }}">
                                <span>{{ title }}</span>
                                <svg class="dlf-mobile-nav-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                                </svg>
                            </summary>
                            <ul class="dlf-mobile-submenu">
                                {{ *recursive children* }}
                            </ul>
                        </details>
                    {{ else }}
                        <a
                            class="dlf-mobile-nav-link {{ if is_current }}dlf-mobile-nav-link--active{{ /if }}"
                            href="{{ url }}"
                            {{ if is_current }}aria-current="page"{{ /if }}
                            @click="closeMobileMenu"
                        >{{ title }}</a>
                    {{ /if }}
                </li>
            {{ elseif depth == 2 }}
                <li>
                    <a
                        class="dlf-mobile-submenu-link {{ if is_current }}dlf-mobile-submenu-link--active{{ /if }}"
                        href="{{ url }}"
                        {{ if is_current }}aria-current="page"{{ /if }}
                        @click="closeMobileMenu"
                    >{{ title }}</a>
                </li>
            {{ /if }}
        {{ /nav:main }}
    </ul>

    <div class="dlf-mobile-actions">
        <a class="dlf-btn dlf-mobile-action" href="/aanvraag" @click="closeMobileMenu">
            <span class="dlf-btn-face dlf-btn-face--outline-red">Match je project</span>
            <span class="dlf-btn-shadow dlf-btn-shadow--red" aria-hidden="true"></span>
        </a>
        <a class="dlf-btn dlf-mobile-action" href="/lid-worden" @click="closeMobileMenu">
            <span class="dlf-btn-face dlf-btn-face--red">Lid worden</span>
            <span class="dlf-btn-shadow dlf-btn-shadow--red" aria-hidden="true"></span>
        </a>
    </div>
</nav>
