{{ number_of_member_insights = { collection:count in="partners" } }}
{{ if number_of_member_insights > 0 }}
<div class="w-full my-12">

  <div class="w-full text-center ">
    <span class="text-sm text-gray-400">
      Onze partners
    </span>
  </div>

  <div class="w-full relative">
    <div class="h-full w-10 bg-gradient-to-r from-white to-transparent absolute top-0 left-0 z-10"></div>
    <div class="h-full w-10 bg-gradient-to-r from-transparent to-white absolute top-0 right-0 z-10"></div>
    <div class="w-full overflow-x-scroll lg:overflow-x-visible relative snap-x" style="scrollbar-width: none;">
      <div
        class="flex lg:flex-wrap min-w-[1500px] lg:w-full px-7 justify-between lg:px-16 lg:space-x-16 lg:mx-auto  lg:min-w-0 lg:justify-center lg:space-y-12 lg:max-w-6xl mt-8 md:mt-10 relative">
        {{ collection:partners sort="random" }}
        {{ logo }}
        <img class="h-7 snap-center" src="{{ url }}" alt="{{ alt }}" />
        {{ /logo }}
        {{ /collection:partners }}
      </div>
    </div>
  </div>
</div>
{{ /if }}