width="{{ width }}"
height="{{ height }}"
loading="{{ loading ?? 'lazy' }}"
decoding="async"
{{ if fetchpriority }}fetchpriority="{{ fetchpriority }}"{{ /if }}
data-progressive-media
data-media-state="loading"
onload="try{var entries=performance.getEntriesByName(this.currentSrc);var entry=entries[entries.length-1];if(entry&&new window.URL(this.currentSrc,location.href).origin===location.origin&&entry.transferSize===0&&entry.decodedBodySize>0){this.dataset.mediaCached=''}}catch(error){}this.dataset.mediaState='loaded'"
