/node_modules
/bootstrap/ssr
/public/hot
/public/build
/public/static
/public/storage
/public/build
/public/vendor/statamic
/vendor
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
.env
.env.backup
.phpunit.result.cache
.phpunit.cache/
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
public/mix-manifest.json
.claude
.worktrees/
users/
/storage/form-submissions/*
!/storage/form-submissions/*/
!/storage/form-submissions/*/.gitignore
/storage/statamic/glide/
