<div class="block-image-highlight-text relative flex flex-row w-full mb ml-auto pt-6 pb-0 sm:py-10 {{ class }}">
    <div class="absolute w-screen -ml-[50vw] left-1/2 bg-secondary-light xl:bg-floor-primary bg-right bg-no-repeat h-full -z-10 -translate-y-6 sm:-translate-y-10"></div>
    <div class="relative flex flex-col w-full lg:flex-row p-4 lg:py-8">
        <div class="w-full group-image-hover" data-aos="fade-up" data-aos-delay="250">
            {{# Copy of right-larger adjusted for highlight #}}
            <div class="relative flex items-center flex-col xl:flex-row w-full {{ class }}">
                <figure class="right-0 w-full order-2  overflow-hidden xl:absolute bg-secondary-light h-96 lg:w-3/5">
                    {{ if image }}
                        <img class="object-cover w-full h-full max-w-full max-h-full" style="object-position:{{ featured_image:focus_css }}"
                            src="{{ glide src="{featured_image}" fit="crop_focal" width="1280" }}" alt="{{ featured_image:alt ?? title }}">
                    {{ /if }}
                </figure>
                {{ partial:blocks/base class="relative order-1 z-10 w-full lg:w-1/2 pb-16!" }}
                    {{ slot }}
                    {{ partial:buttons/more :link="link" class="" button_class="" background_class="" }}
                {{ /partial:blocks/base }}
            </div>
        </div>
    </div>
</div>
