@font-face {
    font-family: "Mulish Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 200 1000;
    src: url("../../node_modules/@fontsource-variable/mulish/files/mulish-latin-wght-normal.woff2")
        format("woff2-variations");
}

@font-face {
    font-family: "Mulish Variable";
    font-style: italic;
    font-display: swap;
    font-weight: 200 1000;
    src: url("../../node_modules/@fontsource-variable/mulish/files/mulish-latin-wght-italic.woff2")
        format("woff2-variations");
}

@font-face {
    font-family: "JetBrains Mono Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 100 800;
    src: url("../../node_modules/@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2")
        format("woff2-variations");
}
