{{ if video | is_embeddable }}
    <!-- Youtube and Vimeo -->
    <div class="dlf-consent-embed w-full aspect-video mt-half mb-half">
        <iframe
            class="h-full w-full"
            referrerpolicy="strict-origin-when-cross-origin"
            data-consent-src="{{ video | embed_url }}"
            hidden
            ...
        ></iframe>
        {{ partial:embed_consent }}
    </div>
{{ else }}
    <!-- Other HTML5 video types -->
    <video class="w-full aspect-video mt-half mb-half" src="{{ video | embed_url }}" ...></video>
{{ /if }}
