<div class="translate-y-32 lg:translate-y-52 pb-32 md:pb-48">
    <div class="container mb-auto mx-auto flex flex-col items-left justify-center relative">
        <div class="w-full lg:w-2/3 mx-auto">
            {{ partial:forms/success heading="Bedankt voor je aanvraag!" }}
                Wij hebben je aanvraag ontvangen en nemen zo spoedig mogelijk contact met je op. We streven ernaar om binnen 2 werkdagen te reageren.
            {{ /partial:forms/success }}
        </div>
    </div>
</div>
