<div class="bg-secondary-light">
    <div class="pt-48 lg:pt-64 pb-16 md:pb-20">
        <div class="container mx-auto">
            <div class="w-full max-w-2xl mx-auto bg-white shadow-3xl px-6 py-10 sm:px-10 sm:py-12 md:px-14 md:py-14">
                <h1>Bedankt voor je aanvraag!</h1>
                <p class="text-tertiary-regular">Wij hebben je aanvraag ontvangen en nemen zo spoedig mogelijk contact met je op. We streven ernaar om binnen 2 werkdagen te reageren.</p>
            </div>
        </div>
    </div>
</div>
