<section class="w-full overflow-hidden bg-primary-accent pt-44 pb-16 sm:pb-24 sm:pt-56 md:pb-16 px-4 md:px-0">
  <div class="max-w-[900px] mx-auto md:py-0 flex items-center relative justify-center">
    <div class="translate-x-5 md:-translate-y-5 absolute md:relative">
      {{ partial:icons/laravel class="size-96 md:size-80 text-white/10 blur-xs md:blur-none md:text-white/20" }}
    </div>
    <div class="md:-translate-x-8 max-w-xl mx-auto md:mx-0">
      <h1 class="text-white my-0 text-center md:text-left">{{title}}</h1>
      <p class="text-white mt-6 text-center md:text-left md:pl-8 text-lg leading-relaxed">
        Laravel biedt een compleet ecosysteem dat met je business meegroeit. 150+ miljoen projecten wereldwijd bewijzen dat Laravel werkt voor bedrijven van elke grootte.</p>
    </div>
  </div>
</section>

<section class="bg-cover bg-center w-full py-16 md:py-24 " style="background-image: url('/assets/img/developers-achter-bureau.jpg');">
  <div class="container">
    <div class="relative px-4 flex items-center flex-col md:flex-row md:min-h-[400px]">
      <div class="w-full md:w-[56%] lg:w-[60%] md:absolute left-0 bg-primary-accent text-white px-8 sm:px-12 py-10 md:py-10 md:px-12 text-xl md:text-[28px] leading-snug font-bold md:-translate-x-6 lg:-translate-x-5  z-10">
        Waarom Laravel-applicaties worden gekozen door IT-managers en CTO’s
      </div>
      <div class="w-full md:w-1/2 lg:w-[44%] bg-white px-8 sm:px-12 md:pl-16 md:pr-8 py-12 md:rounded-2xl md:absolute right-0 ">
          <ul class="space-y-4 text-black">
            <li class="flex gap-3">
              <svg class="size-4 mt-1.5" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.48456e-07 6.98258C6.6936e-07 6.50436 0.388533 6.10778 0.857058 6.10778L13.0158 6.10778L8.26204 1.48881C7.93064 1.13888 7.94207 0.590672 8.27346 0.252414C8.59343 -0.0741799 9.10767 -0.0858439 9.45049 0.229086L15.7356 6.35272C16.0784 6.69098 16.0898 7.23919 15.7584 7.58912C15.7584 7.58912 15.747 7.60078 15.7356 7.61244L9.45049 13.7361C9.11909 14.086 8.582 14.086 8.23918 13.7477C7.89636 13.4095 7.89636 12.8613 8.22775 12.5114C8.23918 12.4997 8.25061 12.488 8.26204 12.4764L13.0158 7.85739L0.857058 7.85739C0.388533 7.85739 6.27552e-07 7.46081 6.48456e-07 6.98258Z" fill="#FF2D20"/>
              </svg>
              <div class="flex flex-col">
                <span class="font-bold text-black">MVP binnen no time</span>
                <span>Dankzij kant-en-klare componenten</span>
              </div>
            </li>
            <li class="flex gap-3">
              <svg class="size-4" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.48456e-07 6.98258C6.6936e-07 6.50436 0.388533 6.10778 0.857058 6.10778L13.0158 6.10778L8.26204 1.48881C7.93064 1.13888 7.94207 0.590672 8.27346 0.252414C8.59343 -0.0741799 9.10767 -0.0858439 9.45049 0.229086L15.7356 6.35272C16.0784 6.69098 16.0898 7.23919 15.7584 7.58912C15.7584 7.58912 15.747 7.60078 15.7356 7.61244L9.45049 13.7361C9.11909 14.086 8.582 14.086 8.23918 13.7477C7.89636 13.4095 7.89636 12.8613 8.22775 12.5114C8.23918 12.4997 8.25061 12.488 8.26204 12.4764L13.0158 7.85739L0.857058 7.85739C0.388533 7.85739 6.27552e-07 7.46081 6.48456e-07 6.98258Z" fill="#FF2D20"/>
              </svg>
              <div class="flex flex-col">
                <span class="font-bold text-black">Eenvoudig onderhoud</span>
                <span>Uniforme codebase</span>
              </div>
            </li>
            <li class="flex gap-3">
              <svg class="size-4" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.48456e-07 6.98258C6.6936e-07 6.50436 0.388533 6.10778 0.857058 6.10778L13.0158 6.10778L8.26204 1.48881C7.93064 1.13888 7.94207 0.590672 8.27346 0.252414C8.59343 -0.0741799 9.10767 -0.0858439 9.45049 0.229086L15.7356 6.35272C16.0784 6.69098 16.0898 7.23919 15.7584 7.58912C15.7584 7.58912 15.747 7.60078 15.7356 7.61244L9.45049 13.7361C9.11909 14.086 8.582 14.086 8.23918 13.7477C7.89636 13.4095 7.89636 12.8613 8.22775 12.5114C8.23918 12.4997 8.25061 12.488 8.26204 12.4764L13.0158 7.85739L0.857058 7.85739C0.388533 7.85739 6.27552e-07 7.46081 6.48456e-07 6.98258Z" fill="#FF2D20"/>
              </svg>
              <div class="flex flex-col">
                <span class="font-bold text-black">Geen vendor lock-in</span>
                <span>Duizenden developers beschikbaar in NL</span>
              </div>
            </li>
          </ul>
          {{ partial:buttons/primary link="/leden" target="_blank" class="inline-block mt-8 !h-10" button_class="!bg-black text-white !px-3" background_class="!border-black" }}
            <div class="flex items-center gap-2">
              <svg class="size-4" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.27595 10.528C6.69162 12.44 3.04796 11.8804 1.13882 9.29224C-0.77032 6.70407 -0.223189 3.04333 2.36114 1.13135C4.9571 -0.768973 8.60076 -0.221028 10.5099 2.36714C12.0232 4.41902 12.0232 7.2287 10.5099 9.28058L13.7228 12.4866C14.0721 12.8131 14.0954 13.3727 13.7694 13.7224C13.4435 14.0722 12.8847 14.0955 12.5355 13.7691C12.5238 13.7574 12.5005 13.7458 12.4889 13.7224C12.4889 13.7224 9.27595 10.5164 9.28759 10.5164L9.27595 10.528ZM9.89293 5.82969C9.89293 8.07976 8.06527 9.91013 5.81854 9.91013C3.57181 9.91013 1.74416 8.07976 1.74416 5.82969C1.74416 3.57962 3.57181 1.74924 5.81854 1.74924C8.06527 1.74924 9.89293 3.57962 9.89293 5.82969Z" fill="currentColor"/>
              </svg>
              Vind een ervaren ontwikkelaar
            </div>
          {{ /partial:buttons/primary }}
      </div>
    </div>
  </div>
</section>

<section class="bg-black text-white py-16 md:py-24">
  <div class="container flex relative">
    <div class="absolute w-full h-[calc(100%-24rem)] top-96 -left-48">
      <div class="sticky top-24">
        {{ partial:icons/laravel class="size-132  text-[#FFFFFF]/10" }}
      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-8 md:gap-12 relative z-10 px-4 md:px-0">
      <div class="w-full md:w-1/3 flex justify-start flex-col mt-0 md:mt-12">
        <h2 class="font-bold text-xl text-white mt-0">De vele voordelen van Laravel voor IT-managers en CTO’s</h2>
        <p>Je krijgt een uitgebreide bibliotheek van kant-en-klare functionaliteiten, een actieve community van 50.000+ ontwikkelaars en bewezen stabiliteit doordat er wekelijks verbeteringen doorgevoerd worden.</p>
      </div>
      <div class="w-full md:w-2/3 space-y-4 sm:space-y-6">
          <div class="flex flex-col py-8 md:py-12 px-8 md:px-12 rounded-xl bg-white shadow-2xl shadow-black/5 text-black">
            <h3 class="font-bold text-primary-accent my-0 text-xl md:text-2xl ">
              Van concept naar MVP in no time in plaats van maanden
            </h3>
            <p class="mt-4">
              Laravel-ontwikkelaars gebruiken bestaande componenten die al compleet doorgetest zijn uit een uniek rijke bibliotheek van duizenden packages. Hierdoor bestaat zo'n 25 tot 75% van je maatwerkapplicatie uit kant-en-klare bouwblokken, zoals:
            </p>
            <ul class="mt-2 list-disc pl-5 space-y-3">
              <li>Inloggen en gebruikersbeheer</li>
              <li>Data-encryptie en beveiligingsprotocollen</li>
              <li>Koppelingen met andere systemen</li>
              <li>Gegevensopslag en rapporten</li>
              <li>E-mail berichten en meldingen</li>
              <li>Bestandsopslag en documenten</li>
              <li>Betalingen en facturatie</li>
              <li>Compliance ondersteuning</li>
              <li>API architectuur</li>
            </ul>
        </div>


        <div class="flex flex-col py-8 md:py-12 px-8 md:px-12 rounded-xl bg-white shadow-2xl shadow-black/5 text-black">
          <h3 class="font-bold text-primary-accent my-0 text-xl md:text-2xl ">
            Performance en schaalbaarheid die met je business meegroeien
          </h3>
          <p class="mt-4">
            Niets is frustrerender dan een systeem dat traag wordt naarmate je bedrijf groeit. Laravel maakt het mogelijk dat prestaties stabiel blijven, of je nu 100 of 100.000 gebruikers hebt.
          </p>
          <ul class="mt-2 text-black space-y-3">
            <li class="flex items-start gap-1">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5 text-primary-accent mt-0.5">
                <path fill-rule="evenodd" d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
              </svg>
              <span> Snelle laadtijden: ook bij meer gebruikers en data</span>
            </li>
            <li class="flex items-start gap-1">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5 text-primary-accent mt-0.5">
                <path fill-rule="evenodd" d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
              </svg>
              <span> Geen wachttijden: zware processen draaien op de achtergrond</span>
            </li>
            <li class="flex items-start gap-1">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5 text-primary-accent mt-0.5">
                <path fill-rule="evenodd" d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
              </svg>
              <span> Alles snel vindbaar: slimme data-opslag en caching</span>
            </li>
            <li class="flex items-start gap-1">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5 text-primary-accent mt-0.5">
                <path fill-rule="evenodd" d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
              </svg>
              <span> Groeit probleemloos mee: schaal van start-up naar enterprise niveau</span>
            </li>
          </ul>
        </div>

                <div class="flex flex-col py-8 md:py-12 px-8 md:px-12 rounded-xl bg-white shadow-2xl shadow-black/5 text-black">
          <h3 class="font-bold text-primary-accent my-0 text-xl md:text-2xl ">
            Business continuity gegarandeerd
          </h3>
          <p class="mt-4">
            Het ergste scenario voor elke IT-manager: vastzitten aan één leverancier die je laat vallen, onbetaalbaar wordt of niet meer voldoet. Met Laravel voorkom je vendor lock-in en behoud je altijd de controle over je eigen systeem.
          </p>
          <ul class="mt-2 text-black space-y-3">
            <li class="flex items-start gap-1">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5 text-primary-accent mt-0.5">
                <path fill-rule="evenodd" d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
              </svg>
              <span> Open source framework: jij behoudt alle rechten van je systeem en er zijn geen licentiekosten</span>
            </li>
            <li class="flex items-start gap-1">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5 text-primary-accent mt-0.5">
                <path fill-rule="evenodd" d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
              </svg>
              <span> 1.000+ developers beschikbaar in Nederland: stap over naar een ander bureau binnen weken</span>
            </li>
            <li class="flex items-start gap-1">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5 text-primary-accent mt-0.5">
                <path fill-rule="evenodd" d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
              </svg>
              <span> Hosting vrijheid: deploy waar je wilt. AWS, Azure, eigen servers of wat jij ook wilt</span>
            </li>
            <li class="flex items-start gap-1">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5 text-primary-accent mt-0.5">
                <path fill-rule="evenodd" d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
              </svg>
              <span> Uniforme codebase: elke Laravel developer kan het werk probleemloos overnemen</span>
            </li>
            <li class="flex items-start gap-1">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5 text-primary-accent mt-0.5">
                <path fill-rule="evenodd" d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
              </svg>
              <span> Wekelijkse security updates: continue beveiligingsupdates door de wereldwijde Laravel community</span>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="w-full container py-16 md:py-24 md:pb-48 flex flex-col space-x-8 px-4 lg:px-8 relative">
  <img src="/assets/img/backgrounds/floor-primary.svg" class="w-[1200px]  absolute top-56 left-0 opacity-50">
  <div class="h-64 bg-gradient-to-b from-transparent to-white absolute bottom-0 left-0 w-full"></div>

  <h2 class="text-primary-accent relative z-10 font-bold  mx-auto xl:mx-0 my-0 text-center ">4 redenen waarom Laravel het ‘wint’ van o.a. Symfony, Django en Ruby bij een webapplicatie op maat</h2>
  <div class="grid grid-cols-1 relative  xl:px-8 md:grid-cols-2 mt-8 sm:mt-16  lg:grid-cols-9 mx-auto max-w-4xl w-full bg-opacity-20 ">
    <div class="lg:col-span-5 -rotate-[1deg] md:-rotate-[2deg] relative lg:translate-x-12 xl:translate-x-40">
      {{ partial:landings-page/icon-card}}
        {{ slot:icon }}
          <img src="/assets/img/enterprise-ready.svg" class="size-10">
        {{ /slot:icon }}

        {{ slot:title }}
          Enterprise-ready features
        {{ /slot:title }}

        {{ slot:content }}
          Laravel biedt als enige framework een complete suite: van admin panels (Nova) tot serverless deployment (Vapor). Andere frameworks vereisen veel externe packages die niet altijd goed samenwerken.
        {{ /slot:content }}
      {{ /partial:landings-page/icon-card }}
    </div>
    <div class="lg:col-span-4 rotate-[1deg] mt-0 sm:mt-4 md:rotate-[2deg] md:translate-y-0 md:mt-32 lg:mt-0 md:translate-x-0 lg:-translate-x-3 xl:translate-x-28 lg:translate-y-24 relative">
      {{ partial:landings-page/icon-card}}
        {{ slot:icon }}
          <img src="/assets/img/maintenance.svg" class="size-10">
        {{ /slot:icon }}

        {{ slot:title }}
          Onderhoud
        {{ /slot:title }}

        {{ slot:content }}
          De uniforme Laravel codebase betekent dat elke Laravel developer het werk van een ander kan overnemen. Bij frameworks zoals Node.js (Express) of Ruby on Rails loop je risico op developer lock-in door inconsistente implementaties.
        {{ /slot:content }}
      {{ /partial:landings-page/icon-card }}
    </div>
    <div class="lg:col-span-4 relative md:-mt-8 lg:mt-0 lg:-translate-x-3 xl:-translate-x-20 md:-translate-y-7 rotate-[-1deg] md:rotate-[-2deg]">
      {{ partial:landings-page/icon-card}}
        {{ slot:icon }}
          <img src="/assets/img/development-speed.svg" class="size-10">
        {{ /slot:icon }}

        {{ slot:title }}
          Ontwikkelsnelheid
        {{ /slot:title }}

        {{ slot:content }}
          Laravel wint van Symfony, Django en Ruby on Rails door zijn uitgebreide ecosysteem van kant-en-klare componenten. Waar andere frameworks maanden vergen voor basisfunctionaliteit, levert Laravel een werkend prototype binnen weken.
        {{ /slot:content }}
      {{ /partial:landings-page/icon-card }}
    </div>
    <div class="lg:col-span-5 mt-0 sm:mt-4 relative rotate-[1deg] md:rotate-[2deg] lg:translate-x-3 xl:-translate-x-12 md:translate-y-20">
      {{ partial:landings-page/icon-card}}
        {{ slot:icon }}
          <img src="/assets/img/available-developers.svg" class="size-10">
        {{ /slot:icon }}

        {{ slot:title }}
          Beschikbare developers
        {{ /slot:title }}

        {{ slot:content }}
          <ul class="list-disc pl-6 no-underline space-y-1 leading-relaxed">
            <li><span class="font-bold">Laravel:</span> 1.000+ beschikbare developers</li>
            <li><span class="font-bold">Symfony:</span> 200+ developers</li>
            <li><span class="font-bold">Django/Python:</span> Beperkt beschikbaar</li>
            <li><span class="font-bold">Ruby on Rails:</span> Schaars</li>
            <li><span class="font-bold">Node.js:</span> Schaars door hoge vraag</li>
          </ul>
        {{ /slot:content }}
      {{ /partial:landings-page/icon-card }}
    </div>
  </div>
</section>

<section class="text-center bg-black py-12 overflow-hidden relative flex items-center justify-center px-4">
  <img src="/assets/img/backgrounds/floor-mid-gray.svg" class="w-[1200px] opacity-50 absolute">

  <div class="flex flex-col">
    <h2 class=" text-2xl font-bold text-primary-accent">Conclusie</h2>
    <p class="text-white leading-relaxed text-xl font-bold max-w-3xl mx-auto">Laravel projecten hebben gemiddeld <span class="text-primary-accent">40%</span> lagere <span class="inline lg:inline-block">ontwikkelkosten en kunnen tot <span class="text-primary-accent">60%</span> sneller van start.</span></p>
  </div>
</section>

<section class="bg-[#FFEBE8] text-black py-16 md:py-24">
  <div class="container flex relative">
    <div class="absolute w-full h-[calc(100%-24rem)] top-96 -left-48">
      <div class="sticky top-24">
        {{ partial:icons/laravel class="size-132  text-[#FF2D20]/10" }}
      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-8 md:gap-12 relative z-10 px-4 md:px-0">
      <div class="w-full md:w-1/3 flex justify-start flex-col mt-0 md:mt-18">
        <h2 class="font-bold text-xl text-primary-accent mt-0">Deze bedrijven kozen bewust om te bouwen in Laravel</h2>
        <p>Van handmatige Excel-sheets naar geautomatiseerde systemen, van losse tools naar één centraal platform. Zo pakten andere organisaties hun uitdagingen aan.</p>
      </div>
      <div class="w-full md:w-2/3 space-y-4 sm:space-y-6">
        {{ collection:cases limit="3" sort="random" :slug:in="['diabetes-nl-helpt-je-verder-weten-delen-doen', 'platform-voor-recycling-printercartridges']" }}
            <div class="flex flex-col pt-8 md:pt-12 px-8 md:px-12 rounded-xl bg-white shadow-2xl shadow-black/5">
              <div class="font-bold my-0 leading-none">
                {{ title }}
              </div>
              <h3 class="font-bold text-primary-accent my-0 mt-2 text-xl md:text-2xl ">
                {{ title_long }}
              </h3>
              <div class="mb-0 !text-black/70 mt-5">
                {{ introduction }}
              </div>
              <div class="mt-5">
                {{ partial:buttons/primary link="/cases/{ slug }" target="_blank" class="inline-block !h-10" button_class="!px-3" }}
                    <div class="flex items-center gap-2">
                     <svg class="size-3.5 text-white" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.48456e-07 6.98258C6.6936e-07 6.50436 0.388533 6.10778 0.857058 6.10778L13.0158 6.10778L8.26204 1.48881C7.93064 1.13888 7.94207 0.590672 8.27346 0.252414C8.59343 -0.0741799 9.10767 -0.0858439 9.45049 0.229086L15.7356 6.35272C16.0784 6.69098 16.0898 7.23919 15.7584 7.58912C15.7584 7.58912 15.747 7.60078 15.7356 7.61244L9.45049 13.7361C9.11909 14.086 8.582 14.086 8.23918 13.7477C7.89636 13.4095 7.89636 12.8613 8.22775 12.5114C8.23918 12.4997 8.25061 12.488 8.26204 12.4764L13.0158 7.85739L0.857058 7.85739C0.388533 7.85739 6.27552e-07 7.46081 6.48456e-07 6.98258Z" fill="currentColor"/>
                    </svg>
                    <span>Lees meer</span>
                    </div>
                {{ /partial:buttons/primary }}
              </div>
              <div class="overflow-hidden rounded-t-2xl md:rounded-t-4xl relative h-32 sm:h-48 md:h-60 mt-12">
                <img class="w-full bg-gray-100 absolute md:-top-[10%] left-0" src="{{ glide src="{featured_image}" fit="crop_focal" width="1500" }}" alt="{{ title }}">
              </div>
          </div>
        {{ /collection:cases }}
      </div>
    </div>
  </div>
</section>

<section class="bg-cover bg-center w-full py-16 md:py-20 " style="background-image: url('/assets/img/developer-achter-bureau.jpg');">
  <div class="container gap-12 flex flex-col">
    <div class="relative px-4 flex items-center flex-col md:flex-row md:min-h-[216px]">
      <div class="w-full md:w-[51%] lg:w-[46%] md:translate-x-4 md:absolute left-0 bg-primary-accent text-white px-8 sm:px-12 py-10 md:py-10 md:px-12 text-xl md:text-[28px] leading-snug font-bold z-10">
        Kom in contact met Laravel-specialisten
      </div>
      <div class="w-full md:w-1/2 lg:w-[55%] bg-white px-8 sm:px-12 md:pl-20 md:pr-8 py-8 md:rounded-2xl md:absolute right-0 shadow-2xl shadow-black/50 md:-translate-x-4">
        <p class="my-0">Bekijk aangesloten Laravel-specialisten en begin een gesprek over jouw toekomstige maatwerk systeem.</p>
      </div>
    </div>
    <div class="flex w-full gap-4 md:gap-8 px-4 flex-wrap md:flex-nowrap mt-0 md:mt-8 lg:mt-0">
      <div class="w-full md:w-1/2 bg-black rounded-xl text-white p-8">
        <div class="flex gap-2 items-center">
          <img src="/assets/img/magnifier.svg" alt="Magnifier icon" class="min-w-5.5">
          <span>Vind een gecertificeerde Laravel-ontwikkelaarbij jou in de buurt</span>
        </div>
        {{ partial:buttons/primary link="/leden" target="_blank" class="inline-block !h-10  mt-5" button_class="!px-3 " }}
            <div class="flex items-center gap-2">
              <svg class="size-3.5 text-white hidden sm:block" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.48456e-07 6.98258C6.6936e-07 6.50436 0.388533 6.10778 0.857058 6.10778L13.0158 6.10778L8.26204 1.48881C7.93064 1.13888 7.94207 0.590672 8.27346 0.252414C8.59343 -0.0741799 9.10767 -0.0858439 9.45049 0.229086L15.7356 6.35272C16.0784 6.69098 16.0898 7.23919 15.7584 7.58912C15.7584 7.58912 15.747 7.60078 15.7356 7.61244L9.45049 13.7361C9.11909 14.086 8.582 14.086 8.23918 13.7477C7.89636 13.4095 7.89636 12.8613 8.22775 12.5114C8.23918 12.4997 8.25061 12.488 8.26204 12.4764L13.0158 7.85739L0.857058 7.85739C0.388533 7.85739 6.27552e-07 7.46081 6.48456e-07 6.98258Z" fill="currentColor"/>
            </svg>
            <span>Plan een vrijblijvende kennismaking</span>
            </div>
        {{ /partial:buttons/primary }}
      </div>
      <div class="w-full md:w-1/2 bg-black rounded-xl p-8 text-white">
        <div class="flex gap-3 items-center">
          <div>
              <img src="/assets/img/question-mark.svg" alt="Question mark icon" class="min-w-5.5 flex-1">
          </div>
          <span>Heb je nog vragen over Laravel en of het geschikt is voor jou? Wij antwoorden je zo snel mogelijk.</span>
        </div>
          {{ partial:buttons/primary link="mailto:info@dutchlaravelfoundation.nl"  class="inline-block !h-10  mt-5" button_class="!px-3" }}
            <div class="flex items-center gap-2">
              <svg class="size-3.5 text-white hidden sm:block" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.48456e-07 6.98258C6.6936e-07 6.50436 0.388533 6.10778 0.857058 6.10778L13.0158 6.10778L8.26204 1.48881C7.93064 1.13888 7.94207 0.590672 8.27346 0.252414C8.59343 -0.0741799 9.10767 -0.0858439 9.45049 0.229086L15.7356 6.35272C16.0784 6.69098 16.0898 7.23919 15.7584 7.58912C15.7584 7.58912 15.747 7.60078 15.7356 7.61244L9.45049 13.7361C9.11909 14.086 8.582 14.086 8.23918 13.7477C7.89636 13.4095 7.89636 12.8613 8.22775 12.5114C8.23918 12.4997 8.25061 12.488 8.26204 12.4764L13.0158 7.85739L0.857058 7.85739C0.388533 7.85739 6.27552e-07 7.46081 6.48456e-07 6.98258Z" fill="currentColor"/>
            </svg>
            <span>Mail de Dutch Laravel Foundation</span>
            </div>
        {{ /partial:buttons/primary }}
      </div>
    </div>
  </div>
</section>

<section class="container py-12 md:py-24">
  <div class="flex flex-col md:flex-row gap-8 lg:gap-32 px-4 md:px-0">
      <div class="w-full md:w-1/2">
        <h2 class="font-bold text-primary-accent text-2xl">Wat is de Dutch Laravel Foundation?</h2>
        <p class="leading-relaxed">Wij maken Laravel bekender bij Nederlandse bedrijven en bevorderen Laravel-ontwikkelaars continu beter te worden door kennis te delen.
Met goedkeuring van Taylor Otwell (grondlegger van Laravel) helpen wij Nederlandse bedrijven de juiste keuzes te maken bij maatwerksoftware.
Wij hebben hierin geen commercieel belang maar wél de expertise om je te begeleiden naar de beste oplossing.</p>
      </div>
      <div class="w-full md:w-1/2 mt-4 md:mt-0">
        <img class="h-full object-cover" src="/assets/img/larafest-sylvester-damgaard.jpg" alt="Laravel">
      </div>
  </div>
  <div class="w-full flex px-4 md:px-0 flex-col md:flex-row divide-y md:divide-y-0 md:divide-x divide-black/10 mt-4 md:mt-16">
    <div class="w-full flex flex-col gap-4 md:px-10 py-8 md:py-0">
      <div class="flex flex-col gap-3">
        <img src="/assets/img/connecting.svg" alt="Bewezen en betrouwbaar" class="size-11">
        <h3 class="my-0 font-bold text-[20px] text-primary-accent">Wij verbinden</h3>
      </div>
      <p class="mb-0">Wij brengen bedrijven in contact met de beste Laravel-ontwikkelaars in Nederland.</p>
    </div>

    <div class="w-full flex flex-col gap-4 md:px-10 py-8 md:py-0">
      <div class="flex flex-col gap-3">
        <img src="/assets/img/assuring-quality.svg" alt="Wereldwijde community" class="size-11">
        <h3 class="my-0 font-bold text-[20px] text-primary-accent">Wereldwijde community</h3>
      </div>
      <p class="mb-0">Wij stimuleren dat onze leden voldoen aan professionele standaarden.</p>
    </div>

    <div class="w-full flex flex-col gap-4 md:px-10 py-8 md:py-0">
      <div class="flex flex-col gap-3">
        <img src="/assets/img/boosting-knowledge.svg" alt="100% toekomstbestendig" class="size-11">
        <h3 class="my-0 font-bold text-[20px] text-primary-accent">100% toekomstbestendig</h3>
      </div>
      <p class="mb-0">Wij organiseren talks en events voor kennisuitwisseling tussen ontwikkelaars.</p>
    </div>
  </div>
</section>
