<section class="w-full overflow-hidden bg-primary-accent pt-44 pb-16 sm:pb-24 sm:pt-56 md:pb-16 px-4 md:px-0">
  <div class="max-w-[900px] mx-auto md:py-0 flex items-center relative justify-center">
    <div class="translate-x-5 md:-translate-y-5 absolute md:relative">
      {{ partial:icons/laravel class="size-96 md:size-80 text-white/10 blur-xs md:blur-none md:text-white/20" }}
    </div>
    <div class="md:-translate-x-8 max-w-xl mx-auto md:mx-0">
      <h1 class="text-white my-0 text-center md:text-left">{{title}}</h1>
      <p class="text-white mt-6 text-center md:text-left md:pl-8 text-lg leading-relaxed">Veel organisaties wachten tot het piept en kraakt, hoewel
        dat misschien
        niet de slimste
        tactiek is. Dan slaat de
        realiteit toe: dit MOET anders.</p>
    </div>
  </div>
</section>

<section class="w-full container py-16 md:py-24 flex flex-col space-x-8 px-4 lg:px-4">
  <h2 class="text-primary-accent relative z-10 font-bold xl:max-w-70 mx-auto xl:mx-0 my-0 text-center xl:text-left">Herken jij ook deze pijnpunten <span class="inline-block">in je bedrijf?</span></h2>
  <div class="grid grid-cols-1 relative xl:translate-x-12 xl:px-8 md:grid-cols-2 mt-8 sm:mt-16 xl:-mt-32 lg:grid-cols-9 mx-auto max-w-4xl w-full bg-opacity-20 ">
    <div class="lg:col-span-5 -rotate-[1deg] md:-rotate-[2deg] relative lg:translate-x-12 xl:translate-x-40">
      {{ partial:landings-page/icon-card}}
        {{ slot:icon }}
          {{ partial:landings-page/head-bolts }}
        {{ /slot:icon }}

        {{ slot:title }}
          Je bedrijf groeit, maar je <span class="inline-block">systemen groeien niet mee</span>
        {{ /slot:title }}

        {{ slot:content }}
          <ul class="list-disc pl-6 no-underline space-y-1 leading-relaxed">
            <li>Wat eerst werkte, wordt nu een rem op je groei</li>
            <li>Meer klanten zorgt voor meer chaos in plaats van meer omzet</li>
            <li>Medewerkers klagen over omslachtige, trage of onhandige systemen</li>
          </ul>
        {{ /slot:content }}
      {{ /partial:landings-page/icon-card }}
    </div>
    <div class="lg:col-span-4 rotate-[1deg] mt-0 sm:mt-4 md:rotate-[2deg] md:translate-y-0 md:mt-32 lg:mt-0 md:translate-x-0 lg:-translate-x-3 xl:translate-x-32 lg:translate-y-24 relative">
      {{ partial:landings-page/icon-card}}
        {{ slot:icon }}
          {{ partial:landings-page/head-bolt }}
        {{ /slot:icon }}

        {{ slot:title }}
          Je huidige ontwikkelaar blijkt onbetrouwbaar
        {{ /slot:title }}

        {{ slot:content }}
          <ul class="list-disc pl-6 no-underline space-y-1 leading-relaxed">
            <li>Je (freelance) ontwikkelaar is gestopt of slecht bereikbaar</li>
            <li>Doorlooptijden van onderhoud en nieuwe features duren steeds langer</li>
            <li>Concurrenten gaan sneller en je verliest momentum</li>
          </ul>
        {{ /slot:content }}
      {{ /partial:landings-page/icon-card }}
    </div>
    <div class="lg:col-span-4 relative md:-mt-8 lg:mt-0 lg:-translate-x-3 xl:-translate-x-20 md:-translate-y-7 rotate-[-1deg] md:rotate-[-2deg]">
      {{ partial:landings-page/icon-card}}
        {{ slot:icon }}
          {{ partial:landings-page/cloud-x }}
        {{ /slot:icon }}

        {{ slot:title }}
          Je huidige systeem laat je in de steek
        {{ /slot:title }}

        {{ slot:content }}
          <ul class="list-disc pl-6 no-underline space-y-1 leading-relaxed">
            <li>Je hebt regelmatig storingen of crashes die niet meer uit te leggen zijn aan klanten</li>
            <li>Je moet steeds vaker klanten compenseren, omdat systemen niet werken (faalkosten)</li>
            <li>Onderhoud wordt steeds duurder</li>
          </ul>
        {{ /slot:content }}
      {{ /partial:landings-page/icon-card }}
    </div>
    <div class="lg:col-span-5 mt-0 sm:mt-4 relative rotate-[1deg] md:rotate-[2deg] lg:translate-x-3 xl:-translate-x-12 md:translate-y-20">
      {{ partial:landings-page/icon-card}}
        {{ slot:icon }}
          {{ partial:landings-page/laptop-frustration }}
        {{ /slot:icon }}

        {{ slot:title }}
          Je verliest overzicht en controle
        {{ /slot:title }}

        {{ slot:content }}
          <ul class="list-disc pl-6 no-underline space-y-1 leading-relaxed">
            <li>Informatie is verspreid over verschillende tools</li>
            <li>Handmatige processen kosten steeds meer tijd</li>
            <li>Er ontstaan meer fouten door o.a. onduidelijke data of haastwerk</li>
          </ul>
        {{ /slot:content }}
      {{ /partial:landings-page/icon-card }}
    </div>
  </div>
</section>

<section class="bg-cover bg-center w-full py-16 md:py-24 " style="background-image: url('/assets/img/developers-achter-bureau.jpg');">
  <div class="container">
    <div class="relative px-4 flex items-center flex-col md:flex-row md:min-h-[400px]">
      <div class="w-full md:w-[56%] lg:w-[60%] md:absolute left-0 bg-primary-accent text-white px-8 sm:px-12 py-10 md:py-10 md:px-12 text-xl md:text-[28px] leading-snug font-bold md:-translate-x-6 lg:-translate-x-5  z-10">
        Deze problemen lossen zich niet vanzelf op, maar een systeem op maat wél. <span class="xl:inline-block">En da's betaalbaarder dan je denkt!</span>
      </div>
      <div class="w-full md:w-1/2 lg:w-[44%] bg-white px-8 sm:px-12 md:pl-16 md:pr-8 py-12 md:rounded-2xl md:absolute right-0 ">
          <ul class="space-y-4 text-black">
            <li class="flex gap-3">
              <svg class="size-4 mt-1.5" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.48456e-07 6.98258C6.6936e-07 6.50436 0.388533 6.10778 0.857058 6.10778L13.0158 6.10778L8.26204 1.48881C7.93064 1.13888 7.94207 0.590672 8.27346 0.252414C8.59343 -0.0741799 9.10767 -0.0858439 9.45049 0.229086L15.7356 6.35272C16.0784 6.69098 16.0898 7.23919 15.7584 7.58912C15.7584 7.58912 15.747 7.60078 15.7356 7.61244L9.45049 13.7361C9.11909 14.086 8.582 14.086 8.23918 13.7477C7.89636 13.4095 7.89636 12.8613 8.22775 12.5114C8.23918 12.4997 8.25061 12.488 8.26204 12.4764L13.0158 7.85739L0.857058 7.85739C0.388533 7.85739 6.27552e-07 7.46081 6.48456e-07 6.98258Z" fill="#FF2D20"/>
              </svg>
              <div class="flex flex-col">
                <span class="font-bold text-black">Precies wat jij nodig heb</span>
                <span>Maatwerk sluit perfect aan bij je wensen</span>
              </div>
            </li>
            <li class="flex gap-3">
              <svg class="size-4" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.48456e-07 6.98258C6.6936e-07 6.50436 0.388533 6.10778 0.857058 6.10778L13.0158 6.10778L8.26204 1.48881C7.93064 1.13888 7.94207 0.590672 8.27346 0.252414C8.59343 -0.0741799 9.10767 -0.0858439 9.45049 0.229086L15.7356 6.35272C16.0784 6.69098 16.0898 7.23919 15.7584 7.58912C15.7584 7.58912 15.747 7.60078 15.7356 7.61244L9.45049 13.7361C9.11909 14.086 8.582 14.086 8.23918 13.7477C7.89636 13.4095 7.89636 12.8613 8.22775 12.5114C8.23918 12.4997 8.25061 12.488 8.26204 12.4764L13.0158 7.85739L0.857058 7.85739C0.388533 7.85739 6.27552e-07 7.46081 6.48456e-07 6.98258Z" fill="#FF2D20"/>
              </svg>
              <div class="flex flex-col">
                <span class="font-bold text-black">Snel van idee naar systeem</span>
                <span>Door slimme bouwblokken gaat het sneller</span>
              </div>
            </li>
            <li class="flex gap-3">
              <svg class="size-4" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.48456e-07 6.98258C6.6936e-07 6.50436 0.388533 6.10778 0.857058 6.10778L13.0158 6.10778L8.26204 1.48881C7.93064 1.13888 7.94207 0.590672 8.27346 0.252414C8.59343 -0.0741799 9.10767 -0.0858439 9.45049 0.229086L15.7356 6.35272C16.0784 6.69098 16.0898 7.23919 15.7584 7.58912C15.7584 7.58912 15.747 7.60078 15.7356 7.61244L9.45049 13.7361C9.11909 14.086 8.582 14.086 8.23918 13.7477C7.89636 13.4095 7.89636 12.8613 8.22775 12.5114C8.23918 12.4997 8.25061 12.488 8.26204 12.4764L13.0158 7.85739L0.857058 7.85739C0.388533 7.85739 6.27552e-07 7.46081 6.48456e-07 6.98258Z" fill="#FF2D20"/>
              </svg>
              <div class="flex flex-col">
                <span class="font-bold text-black">Groot aanbod ontwikkelpartners</span>
                <span>Nooit meer afhankelijk van 1 partij</span>
              </div>
            </li>
          </ul>
          {{ partial:buttons/primary link="/leden" target="_blank" class="inline-block mt-8 !h-10" button_class="!bg-black text-white !px-3" background_class="!border-black" }}
            <div class="flex items-center gap-2">
              <svg class="size-4" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.27595 10.528C6.69162 12.44 3.04796 11.8804 1.13882 9.29224C-0.77032 6.70407 -0.223189 3.04333 2.36114 1.13135C4.9571 -0.768973 8.60076 -0.221028 10.5099 2.36714C12.0232 4.41902 12.0232 7.2287 10.5099 9.28058L13.7228 12.4866C14.0721 12.8131 14.0954 13.3727 13.7694 13.7224C13.4435 14.0722 12.8847 14.0955 12.5355 13.7691C12.5238 13.7574 12.5005 13.7458 12.4889 13.7224C12.4889 13.7224 9.27595 10.5164 9.28759 10.5164L9.27595 10.528ZM9.89293 5.82969C9.89293 8.07976 8.06527 9.91013 5.81854 9.91013C3.57181 9.91013 1.74416 8.07976 1.74416 5.82969C1.74416 3.57962 3.57181 1.74924 5.81854 1.74924C8.06527 1.74924 9.89293 3.57962 9.89293 5.82969Z" fill="currentColor"/>
              </svg>
              Vind een ervaren ontwikkelaar
            </div>
          {{ /partial:buttons/primary }}
      </div>
    </div>
  </div>
</section>

<section class="container py-16 md:py-24 flex flex-col md:flex-row gap-8 md:gap-12">
  <div class="w-full md:w-1/2 px-4 md:px-0">
    <h2 class="font-bold text-primary-accent md:pr-8 mt-0">Maatwerk klinkt duur en ingewikkeld, maar dat hóeft niet!</h2>
    <p class="md:translate-x-7 md:pr-18 leading-relaxed">We begrijpen je twijfels. Je bent niet de eerste ondernemer die bij maatwerksoftware denkt aan oneindige projecten, enorme kosten en technische complexiteit. Maar die tijd is voorbij dankzij Laravel, een van de meest geschikte open source frameworks voor een systeem op maat.</p>
  </div>
  <div class="w-full md:w-1/2">
    <img class="" src="/assets/img/laravel-homepage.jpg" alt="Laravel">
  </div>
</section>

<section class="bg-primary-accent text-white py-8 md:py-24">
  <div class="container flex relative items-center">
    <img src="/assets/img/text-bubble.svg" alt="Text bubble" class="absolute -left-52 opacity-25">
    <div class="flex flex-col md:flex-row gap-8 md:gap-12 px-4 md:px-0">
      <div class="w-full md:w-1/3 flex justify-start flex-col text-center md:text-left mt-0 md:mt-18">
        <h2 class="font-bold text-xl text-white">3 veelgehoorde bezwaren tegen maatwerk</h2>
        <p>En hoe een systeem in Laravel <span class="inline md:inline-block">de oplossing kan zijn</span></p>
      </div>
      <div class="w-full md:w-2/3 space-y-6">
        {{ partial:landings-page/quote-card}}
          {{ slot:quote }}
            Een maatwerk systeem kost toch een vermogen?
          {{ /slot:quote }}
          {{ slot:list }}
            <li>In Laravel kun je klein starten en het systeem stap voor stap uitbreiden</li>
            <li>Laravel-ontwikkelaars gebruiken bouwblokken, waardoor kosten lager kunnen uitvallen</li>
            <li>Een Laravel-systeem laten ontwikkelen is vaak goedkoper dan jarenlang licenties betalen voor standaardsoftware die niet (meer) bij je past</li>
          {{ /slot:list }}
        {{ /partial:landings-page/quote-card }}

        {{ partial:landings-page/quote-card}}
          {{ slot:quote }}
            Maatwerk laten ontwikkelen duurt  toch vreselijk lang?
          {{ /slot:quote }}
          {{ slot:list }}
            <li>oor slimme herbruikbare componenten werkt een ontwikkelaar 20 tot 50% sneller</li>
            <li>Een werkende eerste versie staat er vaak binnen weken in plaats van maanden</li>
            <li>Snel testen, feedback verzamelen en bijsturen naar jouw ideale systeem</li>
          {{ /slot:list }}
        {{ /partial:landings-page/quote-card }}

        {{ partial:landings-page/quote-card}}
          {{ slot:quote }}
            Ik wil niet afhankelijk zijn van één ontwikkelpartij
          {{ /slot:quote }}
          {{ slot:list }}
            <li>Alleen Nederland heeft al honderden bureaus die Laravel gebruiken. </li>
            <li>Wil je op termijn wisselen van ontwikkelaar? Een ander pakt het probleemloos over</li>
            <li>Jij bent en blijft eigenaar van je systeem en data</li>
          {{ /slot:list }}
        {{ /partial:landings-page/quote-card }}
      </div>
    </div>
  </div>
</section>

<section class="container py-12 md:py-24">
  <div class="flex flex-col md:flex-row gap-8 lg:gap-32 px-4 md:px-0">
      <div class="w-full md:w-1/2">
        <h2 class="font-bold text-black text-2xl">Waarom het Laravel-framework <span class="inline md:inline-block">de slimste keuze is voor jouw</span> maatwerk systeem</h2>
        <p class="leading-relaxed">Laravel is niet zomaar een techniek. Het is dé reden waarom moderne maatwerksoftware nu wél haalbaar en betaalbaar is geworden. De crux zit in de slimme aanpak van dit framework dat 100% futureproof is.</p>
        {{ partial:buttons/primary link="/wat-is-laravel" target="_blank" class="inline-block mt-4 !h-10" button_class="!px-3" background_class="" }}
          <div class="flex items-center gap-2">
            <svg class="size-3 text-white" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.48456e-07 6.98258C6.6936e-07 6.50436 0.388533 6.10778 0.857058 6.10778L13.0158 6.10778L8.26204 1.48881C7.93064 1.13888 7.94207 0.590672 8.27346 0.252414C8.59343 -0.0741799 9.10767 -0.0858439 9.45049 0.229086L15.7356 6.35272C16.0784 6.69098 16.0898 7.23919 15.7584 7.58912C15.7584 7.58912 15.747 7.60078 15.7356 7.61244L9.45049 13.7361C9.11909 14.086 8.582 14.086 8.23918 13.7477C7.89636 13.4095 7.89636 12.8613 8.22775 12.5114C8.23918 12.4997 8.25061 12.488 8.26204 12.4764L13.0158 7.85739L0.857058 7.85739C0.388533 7.85739 6.27552e-07 7.46081 6.48456e-07 6.98258Z" fill="currentColor"/>
            </svg>
            <span>Meer over Laravel</span>
            <svg class="size-3" viewBox="0 0 12 12" fill="text-white" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.48649 2V3.33333H1.15316V10.6667H8.48649V7.33333H9.81982V11.3333C9.81982 11.7 9.51982 12 9.15316 12H0.486491C0.119824 12 -0.180176 11.7 -0.180176 11.3333V2.66667C-0.180176 2.3 0.119824 2 0.486491 2H4.48649ZM11.8198 0V5.33333H10.4865V2.27333L5.29316 7.46667L4.35316 6.52667L9.54649 1.33333H6.49316V0H11.8265H11.8198Z" fill="currentColor"/>
            </svg>
          </div>
        {{ /partial:buttons/primary }}
      </div>
      <div class="w-full md:w-1/2 mt-4 md:mt-0">
        <img src="/assets/img/laravel-12.jpg" alt="Laravel">
      </div>
  </div>
  <div class="w-full flex px-4 md:px-0 flex-col md:flex-row divide-y md:divide-y-0 md:divide-x divide-black/10 mt-4 md:mt-16">
    <div class="w-full flex flex-col gap-4 md:px-10 py-8 md:py-0">
      <div class="flex flex-col gap-3">
        <img src="/assets/img/proven-secure.svg" alt="Bewezen en betrouwbaar" class="size-11">
        <h3 class="my-0 font-bold text-[20px] text-primary-accent">Bewezen en betrouwbaar</h3>
      </div>
      <p class="mb-0">Zo’n 150+ miljoen projecten wereldwijd zijn ontwikkeld in Laravel. Zowel kleine start-ups als grote enterprises vertrouwen op deze technologie. Als jij kiest voor Laravel, kies je voor een fundament dat al jaren zijn waarde heeft bewezen.</p>
    </div>

    <div class="w-full flex flex-col gap-4 md:px-10 py-8 md:py-0">
      <div class="flex flex-col gap-3">
        <img src="/assets/img/community.svg" alt="Wereldwijde community" class="size-11">
        <h3 class="my-0 font-bold text-[20px] text-primary-accent">Wereldwijde community</h3>
      </div>
      <p class="mb-0">Honderdduizenden ontwikkelaars wereldwijd verbeteren Laravel continu en delen nieuwe oplossingen. Dit betekent dat jouw Laravel-ontwikkelaar profiteert van de collectieve kennis van experts over de hele wereld. En jij dus ook!</p>
    </div>

    <div class="w-full flex flex-col gap-4 md:px-10 py-8 md:py-0">
      <div class="flex flex-col gap-3">
        <img src="/assets/img/future-proof.svg" alt="100% toekomstbestendig" class="size-11">
        <h3 class="my-0 font-bold text-[20px] text-primary-accent">100% toekomstbestendig</h3>
      </div>
      <p class="mb-0">Laravel evolueert mee met nieuwe technologieën en beveiligings-standaarden. Jouw systeem blijft dus niet achter, maar groeit mee met de nieuwste ontwikkelingen. Je hoeft je dus nooit meer zorgen te maken over verouderde software die over een paar jaar vervangen moet worden.</p>
    </div>
  </div>
</section>

<section class="bg-[#FFEBE8] text-black py-16 md:py-24">
  <div class="container flex relative">
    <div class="absolute w-full h-[calc(100vh+7rem)] top-96 -left-48">
      <div class="sticky top-24">
        {{ partial:icons/laravel class="size-132  text-[#FF2D20]/10" }}
      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-8 md:gap-12 relative z-10 px-4 md:px-0">
      <div class="w-full md:w-1/3 flex justify-start flex-col mt-0 md:mt-18">
        <h2 class="font-bold text-xl text-primary-accent mt-0">Laravel als bewuste keuze voor andere MKB(+) ondernemers en software start-ups</h2>
        <p>Deze voorbeelden tonen concrete Laravel-oplossingen die andere ondernemers al succesvol gebruiken.</p>
      </div>
      <div class="w-full md:w-2/3 space-y-4 sm:space-y-6">
        {{ collection:cases limit="3" sort="random" :slug:in="['dropday', 'de-recyclingsindustrie-digitaliseren-met-laravel', 'teamflow-app']" }}
            <div class="flex flex-col pt-8 md:pt-12 px-8 md:px-12 rounded-xl bg-white shadow-2xl shadow-black/5">
              <div class="font-bold my-0 leading-none">
                {{ title }}
              </div>
              <h3 class="font-bold text-primary-accent my-0 mt-2 text-xl md:text-2xl ">
                {{ title_long }}
              </h3>
              <div class="mb-0 !text-black/70 mt-5">
                {{ introduction }}
              </div>
              <div class="mt-5">
                {{ partial:buttons/primary link="/cases/{ slug }" target="_blank" class="inline-block !h-10" button_class="!px-3" }}
                    <div class="flex items-center gap-2">
                     <svg class="size-3.5 text-white" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.48456e-07 6.98258C6.6936e-07 6.50436 0.388533 6.10778 0.857058 6.10778L13.0158 6.10778L8.26204 1.48881C7.93064 1.13888 7.94207 0.590672 8.27346 0.252414C8.59343 -0.0741799 9.10767 -0.0858439 9.45049 0.229086L15.7356 6.35272C16.0784 6.69098 16.0898 7.23919 15.7584 7.58912C15.7584 7.58912 15.747 7.60078 15.7356 7.61244L9.45049 13.7361C9.11909 14.086 8.582 14.086 8.23918 13.7477C7.89636 13.4095 7.89636 12.8613 8.22775 12.5114C8.23918 12.4997 8.25061 12.488 8.26204 12.4764L13.0158 7.85739L0.857058 7.85739C0.388533 7.85739 6.27552e-07 7.46081 6.48456e-07 6.98258Z" fill="currentColor"/>
                    </svg>
                    <span>Lees meer</span>
                    </div>
                {{ /partial:buttons/primary }}
              </div>
              <div class="overflow-hidden rounded-t-2xl md:rounded-t-4xl relative h-32 sm:h-48 md:h-60 mt-12">
                <img class="w-full bg-gray-100 absolute md:-top-[50%] left-0" src="{{ glide src="{featured_image}" fit="crop_focal" width="1500" }}" alt="{{ title }}">
              </div>
          </div>
        {{ /collection:cases }}
      </div>
    </div>
  </div>
</section>

<section class="bg-cover bg-center w-full py-16 md:py-20 " style="background-image: url('/assets/img/developer-achter-bureau.jpg');">
  <div class="container gap-12 flex flex-col">
    <div class="relative px-4 flex items-center flex-col md:flex-row md:min-h-[216px]">
      <div class="w-full md:w-[51%] lg:w-[46%] md:translate-x-4 md:absolute left-0 bg-primary-accent text-white px-8 sm:px-12 py-10 md:py-10 md:px-12 text-xl md:text-[28px] leading-snug font-bold z-10">
        Wil je stoppen met gehannes en eindelijk efficiënt werken?
      </div>
      <div class="w-full md:w-1/2 lg:w-[55%] bg-white px-8 sm:px-12 md:pl-20 md:pr-8 py-12 md:rounded-2xl md:absolute right-0 shadow-2xl shadow-black/50 md:-translate-x-4">
        <p class="my-0">Met een systeem op maat, gemaakt in Laravel, is dat mogelijk. Stap van Excel, handmatig werk of standaard-systeem over op iets dat écht naadloos past bij je processen. Hoe langer je wacht, hoe meer tijd en geld je verliest aan inefficiëntie. Met Laravel zie je vaak al binnen weken na projectstart de eerste resultaten.</p>
      </div>
    </div>
    <div class="flex w-full gap-4 md:gap-8 px-4 flex-wrap md:flex-nowrap mt-0 md:mt-8 lg:mt-0">
      <div class="w-full md:w-1/2 bg-black rounded-xl text-white p-8">
        <div class="flex gap-2 items-center">
          <img src="/assets/img/magnifier.svg" alt="Magnifier icon" class="min-w-5.5">
          <span>Vind een gecertificeerde Laravel-ontwikkelaar bij jou in de buurt</span>
        </div>
        {{ partial:buttons/primary link="/leden" target="_blank" class="inline-block !h-10  mt-5" button_class="!px-3 " }}
            <div class="flex items-center gap-2">
              <svg class="size-3.5 text-white hidden sm:block" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.48456e-07 6.98258C6.6936e-07 6.50436 0.388533 6.10778 0.857058 6.10778L13.0158 6.10778L8.26204 1.48881C7.93064 1.13888 7.94207 0.590672 8.27346 0.252414C8.59343 -0.0741799 9.10767 -0.0858439 9.45049 0.229086L15.7356 6.35272C16.0784 6.69098 16.0898 7.23919 15.7584 7.58912C15.7584 7.58912 15.747 7.60078 15.7356 7.61244L9.45049 13.7361C9.11909 14.086 8.582 14.086 8.23918 13.7477C7.89636 13.4095 7.89636 12.8613 8.22775 12.5114C8.23918 12.4997 8.25061 12.488 8.26204 12.4764L13.0158 7.85739L0.857058 7.85739C0.388533 7.85739 6.27552e-07 7.46081 6.48456e-07 6.98258Z" fill="currentColor"/>
            </svg>
            <span>Plan een vrijblijvende kennismaking</span>
            </div>
        {{ /partial:buttons/primary }}
      </div>
      <div class="w-full md:w-1/2 bg-black rounded-xl p-8 text-white">
        <div class="flex gap-3 items-center">
          <div>
              <img src="/assets/img/question-mark.svg" alt="Question mark icon" class="min-w-5.5 flex-1">
          </div>
          <span>Heb je nog vragen over Laravel en of het geschikt is voor jou? Wij antwoorden je zo snel mogelijk.</span>
        </div>
          {{ partial:buttons/primary link="mailto:info@dutchlaravelfoundation.nl"  class="inline-block !h-10  mt-5" button_class="!px-3" }}
            <div class="flex items-center gap-2">
              <svg class="size-3.5 text-white hidden sm:block" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.48456e-07 6.98258C6.6936e-07 6.50436 0.388533 6.10778 0.857058 6.10778L13.0158 6.10778L8.26204 1.48881C7.93064 1.13888 7.94207 0.590672 8.27346 0.252414C8.59343 -0.0741799 9.10767 -0.0858439 9.45049 0.229086L15.7356 6.35272C16.0784 6.69098 16.0898 7.23919 15.7584 7.58912C15.7584 7.58912 15.747 7.60078 15.7356 7.61244L9.45049 13.7361C9.11909 14.086 8.582 14.086 8.23918 13.7477C7.89636 13.4095 7.89636 12.8613 8.22775 12.5114C8.23918 12.4997 8.25061 12.488 8.26204 12.4764L13.0158 7.85739L0.857058 7.85739C0.388533 7.85739 6.27552e-07 7.46081 6.48456e-07 6.98258Z" fill="currentColor"/>
            </svg>
            <span>Mail de Dutch Laravel Foundation</span>
            </div>
        {{ /partial:buttons/primary }}
      </div>
    </div>
  </div>
</section>

<section class="container py-12 md:py-24">
  <div class="flex flex-col md:flex-row gap-8 lg:gap-32 px-4 md:px-0">
      <div class="w-full md:w-1/2">
        <h2 class="font-bold text-black text-2xl">Wat is de Dutch Laravel Foundation?</h2>
        <p class="leading-relaxed">Wij maken Laravel bekender bij Nederlandse bedrijven en bevorderen Laravel-ontwikkelaars continu beter te worden door kennis te delen.
Met goedkeuring van Taylor Otwell (grondlegger van Laravel) helpen wij Nederlandse bedrijven de juiste keuzes te maken bij maatwerksoftware.
Wij hebben hierin geen commercieel belang maar wél de expertise om je te begeleiden naar de beste oplossing.</p>
      </div>
      <div class="w-full md:w-1/2 mt-4 md:mt-0">
        <img class="h-full object-cover" src="/assets/img/larafest-sylvester-damgaard.jpg" alt="Laravel">
      </div>
  </div>
  <div class="w-full flex px-4 md:px-0 flex-col md:flex-row divide-y md:divide-y-0 md:divide-x divide-black/10 mt-4 md:mt-16">
    <div class="w-full flex flex-col gap-4 md:px-10 py-8 md:py-0">
      <div class="flex flex-col gap-3">
        <img src="/assets/img/connecting.svg" alt="Bewezen en betrouwbaar" class="size-11">
        <h3 class="my-0 font-bold text-[20px] text-primary-accent">Wij verbinden</h3>
      </div>
      <p class="mb-0">Wij brengen bedrijven in contact met de beste Laravel-ontwikkelaars in Nederland.</p>
    </div>

    <div class="w-full flex flex-col gap-4 md:px-10 py-8 md:py-0">
      <div class="flex flex-col gap-3">
        <img src="/assets/img/assuring-quality.svg" alt="Wereldwijde community" class="size-11">
        <h3 class="my-0 font-bold text-[20px] text-primary-accent">Wereldwijde community</h3>
      </div>
      <p class="mb-0">Wij stimuleren dat onze leden voldoen aan professionele standaarden.</p>
    </div>

    <div class="w-full flex flex-col gap-4 md:px-10 py-8 md:py-0">
      <div class="flex flex-col gap-3">
        <img src="/assets/img/boosting-knowledge.svg" alt="100% toekomstbestendig" class="size-11">
        <h3 class="my-0 font-bold text-[20px] text-primary-accent">100% toekomstbestendig</h3>
      </div>
      <p class="mb-0">Wij organiseren talks en events voor kennisuitwisseling tussen ontwikkelaars.</p>
    </div>
  </div>
</section>
